In [1]:
# Pandas operation: 
#   A school maintains student exam scores for multiple subjects. 
#   The data is stored in a Pandas DataFrame where each row represents a student, and each column represents a subject.

import pandas as pd

data = { 
    "Math": [85, 78, 92, 60, 74, 88],
    "Science": [80, 82, 89, 65, 70, 90],
    "English": [75, 85, 78, 55, 72, 88], 
    "History": [70, 75, 80, 50, 68, 82] 
}

students = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"]

exam_scores = pd.DataFrame(data, index=students)

print(exam_scores)

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    78       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82

In [2]:
# 1) Display the first three rows of the exam_scores DataFrame.

exam_scores.head(3)

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    78       82       85       75
Student 3    92       89       78       80

In [3]:
# 2) Get the total number of students and subjects recorded in the DataFrame.

num_students, num_subjects = exam_scores.shape
print(f"Number of students: {num_students}, Number of subjects: {num_subjects}")

Number of students: 6, Number of subjects: 4

In [4]:
# 3) List all subject names and student names.

subjects = exam_scores.columns.tolist()
students = exam_scores.index.tolist()
print("Subjects:", subjects)
print("Students:", students)

Subjects: ['Math', 'Science', 'English', 'History']
Students: ['Student 1', 'Student 2', 'Student 3', 'Student 4', 'Student 5', 'Student 6']

In [5]:
# 4) Display the data type of each column in the DataFrame.

exam_scores.dtypes

Math       int64
Science    int64
English    int64
History    int64
dtype: object

In [6]:
# 5) Check if there are any missing values in the DataFrame.

exam_scores.isnull().sum()

Math       0
Science    0
English    0
History    0
dtype: int64

In [7]:
# 6) Retrieve the scores of "Student 3" in all subjects.

exam_scores.loc["Student 3"]

Math       92
Science    89
English    78
History    80
Name: Student 3, dtype: int64

In [8]:
# 7) Extract the scores of all students in "Math".

exam_scores["Math"]

Student 1    85
Student 2    78
Student 3    92
Student 4    60
Student 5    74
Student 6    88
Name: Math, dtype: int64

In [9]:
# 8) Retrieve the scores of "Student 1" and "Student 4" in "Science" and "English".

exam_scores.loc[["Student 1", "Student 4"], ["Science", "English"]]

           Science  English
Student 1       80       75
Student 4       65       55

In [10]:
# 9) Slice the DataFrame to get the first 4 students and the first 3 subjects.

exam_scores.iloc[:4, :3]

           Math  Science  English
Student 1    85       80       75
Student 2    78       82       85
Student 3    92       89       78
Student 4    60       65       55

In [14]:
# 10) Retrieve the score of "Student 5" in "History" using .loc or .iloc.

print(exam_scores.loc["Student 5", "History"])

68

In [15]:
# 11) Update the score of "Student 2" in "Math" to 85.

exam_scores.loc["Student 2", "Math"] = 85
print(exam_scores.loc["Student 2", "Math"])

85

In [16]:
# 12) Add a new student, "Student 7", with scores [90, 85, 88, 80] for all subjects.

new_scores = [90, 85, 88, 80]
exam_scores.loc["Student 7"] = new_scores
print(exam_scores)

           Math  Science  English  History
Student 1    85       80       75       70
Student 2    85       82       85       75
Student 3    92       89       78       80
Student 4    60       65       55       50
Student 5    74       70       72       68
Student 6    88       90       88       82
Student 7    90       85       88       80

In [17]:
# 13) Add 5 bonus marks to all student's scores.

exam_scores = exam_scores + 5
print(exam_scores)

           Math  Science  English  History
Student 1    90       85       80       75
Student 2    90       87       90       80
Student 3    97       94       83       85
Student 4    65       70       60       55
Student 5    79       75       77       73
Student 6    93       95       93       87
Student 7    95       90       93       85

In [19]:
# 14) Deduct 3 marks from the scores of "Student 4" in all subjects.

exam_scores.loc["Student 4"] = exam_scores.loc["Student 4"] - 3
print(exam_scores.loc["Student 4"])

Math       62
Science    67
English    57
History    52
Name: Student 4, dtype: int64

In [21]:
# 15) Calculate the percentage of marks obtained by each student, assuming each subject has a maximum of 100 marks.

total_marks = exam_scores.sum(axis=1)
max_marks = 100 * exam_scores.shape[1]  # 100 marks per subject
percentage = (total_marks / max_marks) * 100
percentage

Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    59.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64

In [22]:
# 16) Calculate the total marks obtained by each student.

total_marks = exam_scores.sum(axis=1)
print(total_marks)

Student 1    330
Student 2    347
Student 3    359
Student 4    238
Student 5    304
Student 6    368
Student 7    363
dtype: int64

In [23]:
# 17) Determine the total marks scored in each subject.

subject_totals = exam_scores.sum(axis=0)
print(subject_totals)

Math       606
Science    593
English    573
History    537
dtype: int64

In [24]:
# 18) Identify the student with the highest total marks.

highest_total_student = total_marks.idxmax()
highest_total_marks = total_marks.max()
print(f"Student with highest total marks: {highest_total_student}, Total Marks: {highest_total_marks}")

Student with highest total marks: Student 6, Total Marks: 368

In [25]:
# 19) Find the subject with the lowest total marks.

lowest_total_subject = subject_totals.idxmin()
lowest_total_marks = subject_totals.min()
print(f"Subject with lowest total marks: {lowest_total_subject}, Total Marks: {lowest_total_marks}")

Subject with lowest total marks: History, Total Marks: 537

In [26]:
# 20) Compute the average marks scored by each student across all subjectst

average_marks = exam_scores.mean(axis=1)
print(average_marks)

Student 1    82.50
Student 2    86.75
Student 3    89.75
Student 4    59.50
Student 5    76.00
Student 6    92.00
Student 7    90.75
dtype: float64