In [1]:
RollNo = 101
Name = 'Rajesh'
print(f"RollNo is {RollNo}      Name of Student is {Name}")

RollNo is 101      Name of Student is Rajesh

In [1]:
x = [ 'a', 'x', 'y', 'z', [ 'd', 'e', 'f'], 'p', 'q', 'r']
x.append('g')
x[4].insert(2,'h')
print(x)

['a', 'x', 'y', 'z', ['d', 'e', 'h', 'f'], 'p', 'q', 'r', 'g']

In [2]:
Student = {'RollNo':101, 'Name':'Ajay'}
Student['Fees'] = 4000
print(Student)

{'RollNo': 101, 'Name': 'Ajay', 'Fees': 4000}

In [4]:
a = {2, 3, 4,  5}
a.add(2)
a.add(8)
print(a) #Sets do not allow duplicate elements i.e. while adding 2.

{2, 3, 4, 5, 8}

In [5]:
x = (2, 3, 4, 6)
x.append(7)                         #Tuples are designed to be immutable, so methods like append(), extend(), 
                                    #and others that modify the collection are not available for tuples.

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
x = (2, 3, 4, 6)
y = list(x)
y.append(7)
x = tuple(y)
print(x)

(2, 3, 4, 6, 7)

In [7]:
#Q1) Given a list of sales figures for a week, [100, 200, 150, 300, 250, 400, 350] how can I convert it into a NumPy array.

import numpy as np
sales = [100, 200, 150, 300, 250, 400, 350]
sales_array = np.array(sales)
print(sales_array)

[100 200 150 300 250 400 350]

In [8]:
#Q2) If I have two arrays representing the prices of products in two different stores, [10, 20, 30] and [1,2,3], how can
# I add and multiply these arrays element-wise?

import numpy as np

Store1_Prices = np.array([10, 20, 30])
Store2_Prices = np.array([1, 2, 3])

Added_Prices = Store1_Prices + Store2_Prices
Multiplied_Prices = Store1_Prices * Store2_Prices

print("Added Prices:", Added_Prices)
print("Multiplied Prices:", Multiplied_Prices)

Added Prices: [11 22 33]
Multiplied Prices: [10 40 90]

In [10]:
#Q3) How can I combine Sales data from two different months, sales_january = np.array([300,600]) and 
#    sales_february = np.array([500, 600])?

import numpy as np

sales_january = np.array([300, 600])
sales_february = np.array([500, 600])

combined_sales = np.concatenate((sales_january, sales_february))
print("Combined Sales Data:", combined_sales)

Combined Sales Data: [300 600 500 600]

In [12]:
#Q4) If I have an arrange score like scores = np.array([[80, 90], [85, 95]]), how can I convert it into a
#    one-dimensional array?

import numpy as np

scores = np.array([[80, 90], [85, 95]])
flattened_scores = scores.flatten()

print("Flattened Scores:", flattened_scores)

Flattened Scores: [80 90 85 95]

In [13]:
#Q5) If I have a 2D array representation data = np.array([1,2,3,4,5,6]), how can I reshape it into a 2*3 matrix?

import numpy as np

data = np.array([1, 2, 3, 4, 5, 6])
reshaped_data = data.reshape(2, 3)

print(reshaped_data)

[[1 2 3]
 [4 5 6]]